<dialog class="modal modal-open">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Quick Insert</h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-2 gap-4 pt-4">
        <!-- #region Date -->
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Date</legend>
          <input
            type="date"
            formControlName="date"
            class="input w-full"
            [class.input-error]="date.invalid && (date.dirty || date.touched)"
          />
          @if (date.touched && date.invalid) {
            <label class="label pb-0">
              <span class="label-text-alt text-error"> Date is required. </span>
            </label>
          }
        </fieldset>
        <!-- #endregion -->

        <!-- #region Empty-->
        <div class="col-span-1"></div>
        <!-- #endregion -->

        <!-- #region Morning In-->
        <fieldset class="fieldset">
          <div class="flex justify-between">
            <legend class="fieldset-legend">Morning In</legend>
            <legend class="fieldset-label">
              <shared-entry-type-badge type="entry" />
            </legend>
          </div>
          <input
            type="time"
            formControlName="time1"
            class="input input-bordered w-full"
            [class.input-error]="
              time1.invalid && (time1.dirty || time1.touched)
            "
          />
          @if (time1.touched && time1.invalid) {
            <label class="label pb-0">
              <span class="label-text-alt text-error">
                Morning In is required.
              </span>
            </label>
          }
        </fieldset>
        <!-- #endregion -->

        <!-- #region Morning Out-->
        <fieldset class="fieldset">
          <div class="flex justify-between">
            <legend class="fieldset-legend">Morning Out</legend>
            <legend class="fieldset-label">
              <shared-entry-type-badge type="exit" />
            </legend>
          </div>
          <input
            type="time"
            formControlName="time2"
            class="input w-full"
            [class.input-error]="
              time2.invalid && (time2.dirty || time2.touched)
            "
          />
          @if (time2.touched && time2.invalid) {
            <label class="label pb-0">
              <span class="label-text-alt text-error">
                Morning Out is required.
              </span>
            </label>
          }
        </fieldset>
        <!-- #endregion -->

        <!-- #region Afternoon In -->
        <fieldset class="fieldset">
          <div class="flex justify-between">
            <legend class="fieldset-legend">Afternoon In</legend>
            <legend class="fieldset-label">
              <shared-entry-type-badge type="entry" />
            </legend>
          </div>
          <input
            type="time"
            formControlName="time3"
            class="input w-full"
            [class.input-error]="
              time3.invalid && (time3.dirty || time3.touched)
            "
          />
          @if (time3.touched && time3.invalid) {
            <label class="label pb-0">
              <span class="label-text-alt text-error">
                Afternoon In is required.
              </span>
            </label>
          }
        </fieldset>
        <!-- #endregion -->

        <!-- #region Afternoon Out -->
        <fieldset class="fieldset">
          <div class="flex justify-between">
            <legend class="fieldset-legend">Afternoon Out</legend>
            <legend class="fieldset-label">
              <shared-entry-type-badge type="exit" />
            </legend>
          </div>
          <input
            type="time"
            formControlName="time4"
            class="input w-full"
            [class.input-error]="
              time4.invalid && (time4.dirty || time4.touched)
            "
          />
          @if (time4.touched && time4.invalid) {
            <label class="label pb-0">
              <span class="label-text-alt text-error">
                Afternoon Out is required.
              </span>
            </label>
          }
        </fieldset>
        <!-- #endregion -->

        <!-- #region Note -->
        <fieldset class="fieldset col-span-2">
          <legend class="fieldset-legend">Note</legend>
          <textarea
            formControlName="note"
            class="textarea w-full"
            placeholder="Insert notes (optional)"
          ></textarea>
        </fieldset>
        <!-- #endregion -->
      </div>

      <!-- #region Buttons -->
      <div class="modal-action">
        <button
          type="button"
          class="btn btn-ghost"
          [disabled]="submitting()"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formGroup.invalid"
        >
          @if (submitting()) {
            <span class="loading loading-spinner"></span>
          }
          Save
        </button>
      </div>
      <!-- #endregion -->
    </form>
  </div>
</dialog>
