<div class="card w-full bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="card-title justify-between text-xl font-semibold">
      Time Logs
      <div>
        <button class="btn btn-sm btn-primary mr-2" (click)="openQuickInsertDialog()">Quick Insert</button>
        <a class="btn btn-sm btn-primary" routerLink="./new">Add New</a>
      </div>
    </div>

    <div class="divider my-2"></div>

    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-cols table-fixed w-full">
        <thead>
          <tr>
            <td class="w-[80px]">Date</td>
            <td class="w-[60px]">Time</td>
            <td class="w-[80px]">Type</td>
            <td class="w-[140px]">Created at</td>
            <td class="w-[140px]">Updated at</td>
            <td class="w-[350px]">Note</td>
            <th class="w-[80px]"></th>
          </tr>
        </thead>

        <tbody>
          @if (timeLogsResource.isLoading()) {
            @for (row of loadingRows(); track row) {
              <tr>
                <td>
                  <div class="skeleton h-6 w-16"></div>
                </td>
                <td>
                  <div class="skeleton h-6 w-8"></div>
                </td>
                <td>
                  <div
                    class="skeleton h-6"
                    [ngClass]="getRandomWidth(0, 10) < 5 ? 'w-10' : 'w-12'"
                  ></div>
                </td>
                <td>
                  <div class="skeleton h-6 w-28"></div>
                </td>
                <td>
                  <div class="skeleton h-6 w-28"></div>
                </td>
                <td>
                  <div
                    class="skeleton h-6 w-1/12"
                    [style.width.%]="getRandomWidth(0, 100)"
                  ></div>
                </td>
              </tr>
            }
          } @else {
            @for (item of timeLogsResource.value(); track item.id) {
              <tr class="hover:bg-base-200">
                <td class="whitespace-nowrap">
                  {{ item.timestamp | date: "dd/MM/yyyy" }}
                </td>
                <td class="whitespace-nowrap">
                  {{ item.timestamp | date: "HH:mm" }}
                </td>
                <td>
                  <div
                    class="badge badge-sm badge-outline font-mono font-bold uppercase"
                    [ngClass]="{
                      'badge-success': item.type === 'entry',
                      'badge-error': item.type === 'exit',
                    }"
                  >
                    {{ item.type }}
                  </div>
                </td>
                <td class="whitespace-nowrap">
                  {{ item.created_at | date: "dd/MM/yyyy, HH:mm:ss" }}
                </td>
                <td class="whitespace-nowrap">
                  {{ item.created_at | date: "dd/MM/yyyy, HH:mm:ss" }}
                </td>
                <td class="truncate">
                  {{ item.note }}
                </td>
                <th>
                  <div class="flex justify-end">
                    <a
                      class="btn btn-xs btn-ghost text-primary hover:bg-primary hover:text-primary-content"
                      [routerLink]="['./edit', item.id]"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 fill-current"
                        viewBox="0 0 24 24"
                      >
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                        />
                      </svg>
                    </a>
                    <button
                      type="button"
                      class="btn btn-xs btn-ghost text-error hover:bg-error hover:text-error-content"
                      (click)="deleteRow(item.id!)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 fill-current"
                        viewBox="0 0 24 24"
                      >
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                        />
                      </svg>
                    </button>
                  </div>
                </th>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

    @if (totalRowsResource.value() != null) {
      <shared-pager
        [totalRows]="totalRowsResource.value()!"
        [pageSize]="currentPageSize()"
        [(currentPage)]="currentPage"
      />
    }
  </div>
</div>
